<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viseur00.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,992},{330,322}}</string>
                <key>offset</key>
                <string>{-4,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,444},{330,322}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,324}}</string>
                <key>offset</key>
                <string>{-3,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,443},{330,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur02.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1656},{326,328}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,444},{326,328}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur07.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{324,330}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,447},{324,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur08.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{324,330}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,447},{324,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{322,330}}</string>
                <key>offset</key>
                <string>{-3,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,447},{322,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur14.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,660},{320,330}}</string>
                <key>offset</key>
                <string>{-4,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,447},{320,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1324},{322,330}}</string>
                <key>offset</key>
                <string>{-2,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,446},{322,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{324,330}}</string>
                <key>offset</key>
                <string>{-2,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,444},{324,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur27.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{330,324}}</string>
                <key>offset</key>
                <string>{5,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,447},{330,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur28.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,328},{328,324}}</string>
                <key>offset</key>
                <string>{6,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,447},{328,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur30.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,328},{330,322}}</string>
                <key>offset</key>
                <string>{3,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,448},{330,322}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur32.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,660},{326,328}}</string>
                <key>offset</key>
                <string>{0,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,443},{326,328}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{324,330}}</string>
                <key>offset</key>
                <string>{-1,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,438},{324,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{324,330}}</string>
                <key>offset</key>
                <string>{-1,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,437},{324,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1656},{322,330}}</string>
                <key>offset</key>
                <string>{3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,438},{322,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur44.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1324},{318,330}}</string>
                <key>offset</key>
                <string>{5,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,438},{318,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur45.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1324},{320,330}}</string>
                <key>offset</key>
                <string>{3,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,439},{320,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{324,330}}</string>
                <key>offset</key>
                <string>{2,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,440},{324,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur52.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1656},{330,320}}</string>
                <key>offset</key>
                <string>{-5,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,450},{330,320}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur55.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1320},{326,326}}</string>
                <key>offset</key>
                <string>{-7,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,444},{326,326}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur56.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,990},{316,326}}</string>
                <key>offset</key>
                <string>{-13,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,444},{316,326}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur57.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1648},{322,324}}</string>
                <key>offset</key>
                <string>{-9,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,444},{322,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur58.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,990},{328,324}}</string>
                <key>offset</key>
                <string>{-7,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,443},{328,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur60.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,992},{330,322}}</string>
                <key>offset</key>
                <string>{-4,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,444},{330,322}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Detect12.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90c739d37913f2099ad0463620cdd2e:2/2$</string>
            <key>textureFileName</key>
            <string>Detect12.png</string>
        </dict>
    </dict>
</plist>
