<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>viseur03.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,318},{324,332}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,444},{324,332}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{324,334}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,443},{324,334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{324,334}}</string>
                <key>offset</key>
                <string>{1,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,443},{324,334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,638},{324,332}}</string>
                <key>offset</key>
                <string>{1,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,445},{324,332}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,1294},{326,330}}</string>
                <key>offset</key>
                <string>{0,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,447},{326,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,964},{328,330}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,447},{328,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur11.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1296},{326,330}}</string>
                <key>offset</key>
                <string>{-1,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,447},{326,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur12.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1298},{326,330}}</string>
                <key>offset</key>
                <string>{-2,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,447},{326,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur17.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,970},{330,326}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,445},{330,326}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur18.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,318},{332,324}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,444},{332,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1346},{334,324}}</string>
                <key>offset</key>
                <string>{2,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,444},{334,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{334,324}}</string>
                <key>offset</key>
                <string>{3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,444},{334,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur21.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{334,318}}</string>
                <key>offset</key>
                <string>{3,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,444},{334,318}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur22.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,648},{332,322}}</string>
                <key>offset</key>
                <string>{4,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,444},{332,322}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur23.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,322},{332,324}}</string>
                <key>offset</key>
                <string>{4,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,444},{332,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,2},{332,326}}</string>
                <key>offset</key>
                <string>{4,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,444},{332,326}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,310},{332,326}}</string>
                <key>offset</key>
                <string>{4,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,445},{332,326}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,330},{332,326}}</string>
                <key>offset</key>
                <string>{4,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,445},{332,326}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur29.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,1624},{330,324}}</string>
                <key>offset</key>
                <string>{5,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,447},{330,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur31.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,1626},{330,324}}</string>
                <key>offset</key>
                <string>{2,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,447},{330,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,658},{324,332}}</string>
                <key>offset</key>
                <string>{-2,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,439},{324,332}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{324,334}}</string>
                <key>offset</key>
                <string>{-1,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,437},{324,334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{324,334}}</string>
                <key>offset</key>
                <string>{-1,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,437},{324,334}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur36.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,644},{324,332}}</string>
                <key>offset</key>
                <string>{-1,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,438},{324,332}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur39.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1300},{326,330}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,437},{326,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur40.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,966},{328,330}}</string>
                <key>offset</key>
                <string>{0,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,438},{328,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1660,1312},{326,330}}</string>
                <key>offset</key>
                <string>{1,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,438},{326,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1622},{326,330}}</string>
                <key>offset</key>
                <string>{1,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,438},{326,330}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur47.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,972},{330,326}}</string>
                <key>offset</key>
                <string>{-1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,444},{330,326}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur48.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,644},{332,320}}</string>
                <key>offset</key>
                <string>{-2,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,450},{332,320}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur49.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{334,314}}</string>
                <key>offset</key>
                <string>{-3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,456},{334,314}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{334,306}}</string>
                <key>offset</key>
                <string>{-4,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,464},{334,306}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{334,314}}</string>
                <key>offset</key>
                <string>{-4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,456},{334,314}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur53.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1628},{330,324}}</string>
                <key>offset</key>
                <string>{-5,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,446},{330,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,984},{330,326}}</string>
                <key>offset</key>
                <string>{-5,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,444},{330,326}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
            <key>viseur59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,1640},{330,324}}</string>
                <key>offset</key>
                <string>{-5,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,443},{330,324}}</string>
                <key>sourceSize</key>
                <string>{750,1334}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Detect01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a90c739d37913f2099ad0463620cdd2e:1/2$</string>
            <key>textureFileName</key>
            <string>Detect01.png</string>
        </dict>
    </dict>
</plist>
